<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

		<title>About Aling Nena's</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!--John Christian A. Velasco, BS MIS IV, ID 114173, Aling Nena-->
	</head>

	<body style = "background-color:#cc4c4c">
		<div class = "container" style = "width:100%">
			<div id = "headbar1" style = "height:40px;background-color:#fff148;border-style:solid">
				<div id = "buttonbar" class = "btn-group">
					<a id = "home" class = "btn btn-danger" href = "/"><span class = "glyphicon glyphicon-home"></span> HOME</a>
					<a id = "products" class = "btn btn-danger" href = "/products"><span class = "glyphicon glyphicon-barcode"></span> PRODUCTS</a>
					<a id = "contact" class = "btn btn-danger"><span class = "glyphicon glyphicon-phone"></span> CONTACT US 
					<select style = "color:black">
						<option>Aling Nena's Sari-sari</option>
						<option>B30 L14 Pagcacaquitaan Street</option>
						<option>Brgy. Pulangkahoy</option>
						<option>Antipolo City, Rizal</option>
						<option/>
						<option>Contact Nos.: 658-31-46 / 0922-898-7098</option>
						<option>E-mail Address: alingnenasarisari@yahoo.com</option>
					</select>
					</a>
				</div>
			</div>

			<div>
				<img src = "/images/nena.png" alt = "Aling Nena" style = "height:28%;width:28%;display:block;margin:auto"/>
			</div>

			<audio controls loop autoplay style = "visibility:hidden">
				<source src = "/tindahan.mp3" type = "audio/mpeg" id = "tindahannialingnena-eraserheads">
			</audio>

			<div id = "headbar2" style = "height:40px;background-color:#fff148;border-style:solid;display:block;font-size:25px">
				<marquee id = "ticker" behavior = "scroll" direction = "fast" scrollamount = "20" onmouseover = 'this.stop()' onmouseout = 'this.start()'><b>● Magandang araw, bayan! ● May Ferrero Rocher na kay Aling Nena! Saan ka pa? ● May Toblerone na kay Aling Nena! Sa presyong mas mura kaysa Duty Free! ● Nagbebenta kami ng tsokolate at bulaklak, bagay para sa Araw ng mga Ina! Magmadali, baka maubusan! Pwede mo rin namang hintayin ang susunod na taon. ● Nagtaas ng presyo ang mga <i>mugs</i> ngayong Mayo 11 dahil sa <i>law of supply and demand.</i> Sisihin mo ang Araw ng mga Ina. ● Nakita mo na ba ang <i>ice-cream</i> na galit? Bili na ng Magnum Gold?! !● Nagbebenta kami ng pansit. Wala lang, kung gusto mo lang namang malaman. ● Gusto mo ng <i>airline tickets</i>? Meron din si Aling Nena! ● Mag-preorder na ng Pokemon Omega Ruby at Alpha Sapphire ngayon! ● Kung kailangan niyo ng mga <i>headphones</i>, meron si Aling Nena ng Beats by Dre! Orig, 'di tulad ng sa Greenhills! ● Gusto mo ba ng <i>designer clothes</i>? May Salvatore Ferragamo at Rocha John Rocha si Aling Nena, saan ka pa? ● Bili na ng PS4 kay Aling Nena - mas mura kaysa Datablitz! ● Errata: Walang <i>airline tickets</i> kay Aling Nena. Magpa-<i>book</i> kayo sa <i>travel agency</i>, kita niyo namang sari-sari lang kami. ● Ang kantang naririnig niyo ay 'Tindahan ni Aling Nena' ng bandang Eraserheads. 'Yung banda ni Ely Buendia. ● Kahit si Aling Nena, wala na ring <i>stock</i> ng tiket para sa <i>concert</i> ni Taylor Swift sa Hunyo. ● Magandang araw, bayan! ●</b></marquee>
			</div>

			<div id = "leftbar" style = "height:100%;width:25%;background-color:#fffe89;float:left;border-style:dotted">
				<img src = "/images/sarisari.jpg" width = "100%" height = "100%"/>
			</div>
			<div id = "rightbar" style = "height:100%;width:25%;background-color:#fffe89;float:right;border-style:dotted">
				<img src = "/images/sarisari2.jpg" width = "100%" height = "100%"/>
			</div>
			<div id = "middle" style = "height:100%;width:50%;background-color:#ffe6e3;float:right;">
				<div id = "abouttext">
					<p style = "font-family: Arial; font-size: 12px; margin:18px;text-align:justify;text-indent:30px">
						<b>
						Halikanene Macabenta, fondly called "Nena" by her neighbors, decided to bring her penchant 						for merchandising to her small neighborhood by starting with a small sari-sari in her home in 2013. Aling Nena's Sari-sari had its humble beginnings in the unassuming streets of Brgy. Pulangkahoy in 							Antipolo City. Even 							against imposing competition from well-established stores within her barangay, Aling Nena's Sari-sari 						managed to hold its own, due perhaps not only to its amazing array of products but also to Aling Nena's
 						smoother-than-a-baby's-bottom sales pitching. Believe it or not, she fended off <i>both</i> SM and Robinsons from her doorsteps.
						</b>
					</p>
					<p style = "font-family: Arial; font-size: 12px; margin:18px;text-align:justify;text-indent:30px">
						<b>
					  Soon enough, Aling Nena's endeavors bore fruit when her seedling sari-sari became renowned the barangay 						over. While she managed to accomodate the increased traffic by increasing the size of her store, the 							stresses of maintaining such a huge little enterprise proved too much for her family. Luckily, a 							partnership with an upstart Atenean entrepreneur and system developer, Sitotoy Bilibili, secured the 							overhaul of her business structure that firmly planted it upright again. Aling Nena's Sari-sari now enjoys not only the stream of eager customers flocking to it but also the pride and recognition for being such a customer-oriented establishment with superb service efficiency and variety.
						</b>
					</p>
					<p style = "font-family: Arial; font-size: 12px;margin:18px;text-align:justify;text-indent:30px;color:red">
						<b>
					  	Aling Nena's got what you're looking for. <em> Saan ka pa? </em>
						</b>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
