<!DOCTYPE html>
<html>
	<head>
		<title>Aling Nena's Sari-Sari</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!--John Christian A. Velasco, BS MIS IV, ID 114173, Aling Nena-->
	</head>

	<body style = "background-color:#cc4c4c">
		<div class = "container" style = "width:100%">
			<div id = "headbar1" style = "height:40px;background-color:#fff148;border-style:solid">
				<div class = "btn-group">
					<a class = "btn btn-danger" href = "/about"><span class = "glyphicon glyphicon-question-sign  "></span> ABOUT</a>
					<a class = "btn btn-danger" href = "/products"><span class = "glyphicon glyphicon-barcode"></span> PRODUCTS</a>
					<a class = "btn btn-danger"><span class = "glyphicon glyphicon-phone"></span> CONTACT US 
					<select style = "color:black">
						<option>Aling Nena's Sari-sari</option>
						<option>B30 L14 Pagcacaquitaan Street</option>
						<option>Brgy. Pulangkahoy</option>
						<option>Antipolo City, Rizal</option>
						<option/>
						<option>Contact Nos.: 658-34-86 / 0922-898-7098</option>
						<option>E-mail Address: alingnenasarisari@yahoo.com</option>
					</select>
					</a>
				</div>
			</div>

			<div>
				<img src = "/images/nena.png" alt = "Aling Nena" style = "height:28%;width:28%;display:block;margin:auto"/>
			</div>

			<audio controls loop autoplay style = "visibility:hidden">
				<source src = "/tindahan.mp3" type = "audio/mpeg" id = "tindahannialingnena-eraserheads">
			</audio>

			<div id = "headbar2" style = "height:40px;background-color:#fff148;border-style:solid;display:block;font-size:25px">
				<marquee id = "ticker" behavior = "scroll" direction = "fast" scrollamount = "20" onmouseover = 'this.stop()' onmouseout = 'this.start()'><b>● Magandang araw, bayan! ● May Ferrero Rocher na kay Aling Nena! Saan ka pa? ● May Toblerone na kay Aling Nena! Sa presyong mas mura kaysa Duty Free! ● Nagbebenta kami ng tsokolate at bulaklak, bagay para sa Araw ng mga Ina! Magmadali, baka maubusan! Pwede mo rin namang hintayin ang susunod na taon. ● Nagtaas ng presyo ang mga <i>mugs</i> ngayong Mayo 11 dahil sa <i>law of supply and demand.</i> Sisihin mo ang Araw ng mga Ina. ● Nakita mo na ba ang <i>ice-cream</i> na galit? Bili na ng Magnum Gold?! !● Nagbebenta kami ng pansit. Wala lang, kung gusto mo lang namang malaman. ● Gusto mo ng <i>airline tickets</i>? Meron din si Aling Nena! ● Mag-preorder na ng Pokemon Omega Ruby at Alpha Sapphire ngayon! ● Kung kailangan niyo ng mga <i>headphones</i>, meron si Aling Nena ng Beats by Dre! Orig, 'di tulad ng sa Greenhills! ● Gusto mo ba ng <i>designer clothes</i>? May Salvatore Ferragamo at Rocha John Rocha si Aling Nena, saan ka pa? ● Bili na ng PS4 kay Aling Nena - mas mura kaysa Datablitz! ● Errata: Walang <i>airline tickets</i> kay Aling Nena. Magpa-<i>book</i> kayo sa <i>travel agency</i>, kita niyo namang sari-sari lang kami. ● Ang kantang naririnig niyo ay 'Tindahan ni Aling Nena' ng bandang Eraserheads. 'Yung banda ni Ely Buendia. ● Kahit si Aling Nena, wala na ring <i>stock</i> ng tiket para sa <i>concert</i> ni Taylor Swift sa Hunyo. ● Magandang araw, bayan! ●</b></marquee>
			</div>

			<table border = "true" width = "100%" style = "text-align:center;color:white">
			<tr style = "font-size:30px">
			<b>
				<td><b>Product Name</b></td>
				<td><b>Product Price</b></td>
<!--				<td><b>Product Quantity</b></td>	-->
			</tr>
			</div>
			<% @products.each do |product|%>
				<tr style = "font-size:20px">
					<td><%= product.name %></td>
					<td>P<%= product.price %></td>
<!--					<td><%= product.quantity %></td>-->
				</tr>
			<% end %>
			</table>
		</div>
	</body>
</html>
